In [19]:
## BIBLIOTECAS
import requests
from bs4 import BeautifulSoup

#Manipulação de Dados
import pandas as pd
import numpy as np

import shutil
import os
import pyautogui

import unidecode #arrumar textos

#tempo
import time
from time import sleep

import re #regex

import matplotlib.pyplot as plt
import matplotlib.cm as cm

import matplotlib.font_manager as fm #para alterar as fontes dos graficos
import seaborn as sns

import pyperclip

import statistics
import math

from scipy import stats

import warnings #Warning inuteis
from pandas.core.common import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)


# Definindo o estilo de fonte e tema
fonte = fm.FontProperties(family="Calibri", style="italic")

sns.set_style('whitegrid') #cor da grade(fundo)

import pyperclip
from tableone import TableOne

#TESTE ANOVA
import statsmodels.api as sm
from statsmodels.formula.api import ols

import seaborn

from statsmodels.stats.stattools import durbin_watson #teste de autocorrelação

from scipy.stats import chi2_contingency

In [2]:
def tabela_cont(col1, col2):
    a = df.groupby([col1, col2]).size().unstack()
    for i in a.columns:
        a[i].fillna(0, inplace = True)
        a[i] = a[i].apply(lambda x: int(x))
    return a
    print('='*100)

def tabela_cont_percent(col1, col2, opcao):
    result = tabela_cont(col1, col2)
    if opcao == 'Linha':
        return round(result.div(result.sum(axis=1), axis=0) * 100, 2)
    elif opcao == 'Coluna':
        return round(result.div(result.sum(), axis=1) * 100, 2)
    else:
        return 'Opção invalida'

In [3]:
inicio = time.time() #iniciando o cronometro

df = pd.read_excel("4 - Dados_Score_Ano_vs_Acreditacao_vs_Unidade.xlsx")
df_bruto = df.copy()
display(df.sample(5))

fim = time.time() #encerrando cronometro
print('Tempo para rodar a simulação:', round(fim - inicio, 3))

,Unidade,acreditacao,Acreditação,Acreditação2,Ano,Regional,Estado,quant,1. As pessoas se apoiam umas às outras nesta unidade,2. Temos pessoas suficientes para lidar com o volume de trabalho,...,Trabalho em equipe entre as unidades hospitalares,Trabalho em equipe no âmbito das unidades,Transferências internas e passagens de plantão,Aprendizado organizacional - melhoria contínua,Expectativas de promoção da segurança dos supervisores e gerentes,Percepção gerais sobre segurança,Respostas não punitivas aos erros,Staffing,passou_a_ser_acreditado,status_eterno
235,Quinta D'Or,1,Qmentum,Qmentum,2021,SE,RJ,1261,71.132376,32.589641,...,56.281691,68.709937,52.915947,80.713926,68.876742,65.998158,38.122669,44.160649,0,1.0
80,Central Leste,0,0,0,2022,SE,SP,523,74.710425,32.629559,...,66.006026,75.450061,53.718840,86.628279,78.586493,64.175652,45.928373,51.330652,0,0.0
115,Cárdio Pulmonar,1,JCI,JCI,2021,NE,BA,1137,83.716814,58.267020,...,76.109535,80.828010,69.726396,88.349897,82.754494,73.705884,54.201082,60.281830,0,1.0
250,Rio Barra,0,0,0,2021,SE,RJ,424,70.047170,33.096927,...,65.413977,72.624184,59.874464,80.524059,70.801380,58.482072,38.153900,46.730107,1,NaN
25,Assunção,1,ONA,ONA 3,2017,SE,SP,606,69.102990,28.119800,...,65.604794,71.709803,51.186974,82.936872,71.680543,61.645411,47.039009,51.744487,0,1.0

Tempo para rodar a simulação: 0.68

In [4]:
lista_scores = ['1. As pessoas se apoiam umas às outras nesta unidade',
                '2. Temos pessoas suficientes para lidar com o volume de trabalho',
                '3. Quando há muito trabalho a ser feito e rapidamente, trabalhamos juntos em equipe para realizar a tarefa',
                '4. Nesta unidade, as pessoas se tratam com respeito',
                '5. Os funcionários desta unidade trabalham mais horas do que o recomendado no atendimento a pacientes',
                '6. Estamos ativamente buscando melhorias para a segurança do paciente',
                '7. Utilizamos mais funcionários temporários do que o recomendado no atendimento a paciente',
                '8. Os funcionários sentem que seus erros são usados contra eles',
                '9. Erros que ocorreram levaram a mudanças positivas nesta unidade',
                '10. É apenas por acaso que erros mais sérios não acontecem por aqui',
                '11. Quando uma área nesta unidade fica muito movimentada, as demais ajudam',
                '12. Quando um evento é notificado, sentimos que o foco se concentra no indivíduo, e não no problema',
                '13. Quando fazemos mudanças para melhorar a segurança do paciente, nós avaliamos sua efetividade',
                '14. Trabalhamos “em modo de crise”, tentando fazer coisas demais, rápido demais',
                '15. A segurança do paciente nunca é sacrificada em prol de se trabalhar mais',
                '16. Os funcionários se preocupam que seus erros sejam registrados em seu arquivo funcional',
                '17. Temos problemas com a segurança do paciente nesta unidade',
                '18. Nossos procedimentos e sistemas são bons para impedir que os erros aconteçam',
                '19. Meu supervisor/gerente elogia quando vê um trabalho feito de acordo com os procedimentos estabelecidos para a segurança do paciente.',
                '20. Meu supervisor/gerente considera seriamente as sugestões dos funcionários para melhorar a segurança do paciente',
                '21. Sempre que a pressão aumenta, meu supervisor/gerente quer que trabalhemos mais rápido, mesmo que isto signifique tomar atalhos',
                '22. Meu supervisor/gerente ignora problemas recorrentes na segurança do paciente',
                '23. Recebemos feedback das mudanças implementadas com base nos eventos notificados',
                '24. Os funcionários falam voluntariamente se vêem algo que possa afetar negativamente o atendimento aos pacientes',
                '25. Somos informados sobre os erros que acontecem nesta unidade',
                '26. Os funcionários sentem-se à vontade para questionar decisões ou ações dos que têm mais autoridade',
                '27. Nesta unidade, discutimos maneiras de impedir que os erros tornem a acontecer',
                '28. Os funcionários têm receio de perguntar quando algo não parece certo',
                '29. Quando acontece um erro, mas ele é identificado e corrigido antes de afetar o paciente, com que frequência é notificado?',
                '30. Quando acontece um erro, mas que não tem potencial de dano ao paciente, com que frequência é notificado?',
                '31. Quando acontece um erro que poderia prejudicar o paciente, mas isto não ocorreu, com que frequência é notificado?',
                '32. A administração do hospital cria um ambiente de trabalho que promove a segurança do paciente',
                '33. As unidades hospitalares não se coordenam bem entre si.',
                '34. Coisas "escapam por entre os dedos” quando os pacientes são transferidos de uma unidade para outra',
                '35. Existe uma boa cooperação entre as unidades hospitalares que precisam trabalhar juntas',
                '36. Importantes informações sobre a assistência se perdem durante as mudanças de turno',
                '37. Muitas vezes é desagradável trabalhar unidades com funcionários de outras unidades do hospital',
                '38. Os problemas com frequência ocorrem na troca de informações entre as unidades do hospital',
                '39. As ações da administração do hospital mostram que a segurança do paciente é uma prioridade máxima',
                '40. A administração do hospital parece se interessar pela segurança do paciente apenas quando acontece um evento adverso',
                '41. As unidades do hospital trabalham bem juntas para prestar o melhor atendimento aos pacientes',
                '42. As mudanças de turno são problemáticas para os pacientes deste Hospital']

In [5]:
colunas_adicionais = ['Abertura de comunicação', 'Feedback e comunicação sobre erros', 'Frequência de eventos relatados',
                      'Apoio de gestão hospitalar para segurança do paciente', 'Trabalho em equipe entre as unidades hospitalares',
                      'Trabalho em equipe no âmbito das unidades', 'Transferências internas e passagens de plantão',
                      'Aprendizado organizacional - melhoria contínua', 'Expectativas de promoção da segurança dos supervisores e gerentes',
                      'Percepção gerais sobre segurança', 'Respostas não punitivas aos erros', 'Staffing']
for i in colunas_adicionais:
    lista_scores.append(i)
print(lista_scores)

['1. As pessoas se apoiam umas às outras nesta unidade', '2. Temos pessoas suficientes para lidar com o volume de trabalho', '3. Quando há muito trabalho a ser feito e rapidamente, trabalhamos juntos em equipe para realizar a tarefa', '4. Nesta unidade, as pessoas se tratam com respeito', '5. Os funcionários desta unidade trabalham mais horas do que o recomendado no atendimento a pacientes', '6. Estamos ativamente buscando melhorias para a segurança do paciente', '7. Utilizamos mais funcionários temporários do que o recomendado no atendimento a paciente', '8. Os funcionários sentem que seus erros são usados contra eles', '9. Erros que ocorreram levaram a mudanças positivas nesta unidade', '10. É apenas por acaso que erros mais sérios não acontecem por aqui', '11. Quando uma área nesta unidade fica muito movimentada, as demais ajudam', '12. Quando um evento é notificado, sentimos que o foco se concentra no indivíduo, e não no problema', '13. Quando fazemos mudanças para melhorar a segurança do paciente, nós avaliamos sua efetividade', '14. Trabalhamos “em modo de crise”, tentando fazer coisas demais, rápido demais', '15. A segurança do paciente nunca é sacrificada em prol de se trabalhar mais', '16. Os funcionários se preocupam que seus erros sejam registrados em seu arquivo funcional', '17. Temos problemas com a segurança do paciente nesta unidade', '18. Nossos procedimentos e sistemas são bons para impedir que os erros aconteçam', '19. Meu supervisor/gerente elogia quando vê um trabalho feito de acordo com os procedimentos estabelecidos para a segurança do paciente.', '20. Meu supervisor/gerente considera seriamente as sugestões dos funcionários para melhorar a segurança do paciente', '21. Sempre que a pressão aumenta, meu supervisor/gerente quer que trabalhemos mais rápido, mesmo que isto signifique tomar atalhos', '22. Meu supervisor/gerente ignora problemas recorrentes na segurança do paciente', '23. Recebemos feedback das mudanças implementadas com base nos eventos notificados', '24. Os funcionários falam voluntariamente se vêem algo que possa afetar negativamente o atendimento aos pacientes', '25. Somos informados sobre os erros que acontecem nesta unidade', '26. Os funcionários sentem-se à vontade para questionar decisões ou ações dos que têm mais autoridade', '27. Nesta unidade, discutimos maneiras de impedir que os erros tornem a acontecer', '28. Os funcionários têm receio de perguntar quando algo não parece certo', '29. Quando acontece um erro, mas ele é identificado e corrigido antes de afetar o paciente, com que frequência é notificado?', '30. Quando acontece um erro, mas que não tem potencial de dano ao paciente, com que frequência é notificado?', '31. Quando acontece um erro que poderia prejudicar o paciente, mas isto não ocorreu, com que frequência é notificado?', '32. A administração do hospital cria um ambiente de trabalho que promove a segurança do paciente', '33. As unidades hospitalares não se coordenam bem entre si.', '34. Coisas "escapam por entre os dedos” quando os pacientes são transferidos de uma unidade para outra', '35. Existe uma boa cooperação entre as unidades hospitalares que precisam trabalhar juntas', '36. Importantes informações sobre a assistência se perdem durante as mudanças de turno', '37. Muitas vezes é desagradável trabalhar unidades com funcionários de outras unidades do hospital', '38. Os problemas com frequência ocorrem na troca de informações entre as unidades do hospital', '39. As ações da administração do hospital mostram que a segurança do paciente é uma prioridade máxima', '40. A administração do hospital parece se interessar pela segurança do paciente apenas quando acontece um evento adverso', '41. As unidades do hospital trabalham bem juntas para prestar o melhor atendimento aos pacientes', '42. As mudanças de turno são problemáticas para os pacientes deste Hospital', 'Abertura de comunicação', 'Feedback e comunicação sobre erros', 'Frequência de eventos relatados', 'Apoio de gestão hospitalar para segurança do paciente', 'Trabalho em equipe entre as unidades hospitalares', 'Trabalho em equipe no âmbito das unidades', 'Transferências internas e passagens de plantão', 'Aprendizado organizacional - melhoria contínua', 'Expectativas de promoção da segurança dos supervisores e gerentes', 'Percepção gerais sobre segurança', 'Respostas não punitivas aos erros', 'Staffing']

In [6]:
df.head()

,Unidade,acreditacao,Acreditação,Acreditação2,Ano,Regional,Estado,quant,1. As pessoas se apoiam umas às outras nesta unidade,2. Temos pessoas suficientes para lidar com o volume de trabalho,...,Trabalho em equipe entre as unidades hospitalares,Trabalho em equipe no âmbito das unidades,Transferências internas e passagens de plantão,Aprendizado organizacional - melhoria contínua,Expectativas de promoção da segurança dos supervisores e gerentes,Percepção gerais sobre segurança,Respostas não punitivas aos erros,Staffing,passou_a_ser_acreditado,status_eterno
0,5 de outubro,1,ONA,ONA 2,2022,N,PA,311,74.757282,39.285714,...,65.235337,78.558495,54.567658,84.395514,79.463485,54.983432,45.862890,50.733033,0,1.0
1,Aeroporto,0,0,0,2022,NE,BA,525,67.123288,34.169884,...,63.705400,67.253311,57.644177,81.140402,71.754445,57.893346,38.125857,49.909629,0,0.0
2,Aliança,1,Qmentum,Qmentum,2021,NE,BA,1082,84.235075,55.844156,...,75.040345,82.245970,70.848337,89.222243,81.377292,72.762106,51.200263,60.606978,0,1.0
3,Aliança,1,Qmentum,Qmentum,2022,NE,BA,1029,83.544304,44.455253,...,70.155982,80.032914,67.845966,87.264457,79.034422,69.017709,52.215075,54.638196,0,1.0
4,Alpha Med,0,0,0,2017,SE,SP,244,68.879668,57.024793,...,65.385481,74.889841,49.424389,81.369523,78.799535,54.987140,43.080669,64.222550,0,0.0

In [7]:
df['controle'] = np.nan

for coluna in lista_scores:
    df['controle'] = "Intermediário"
    df['controle'][df[coluna] > 74.5] = "Pontos Fortes"
    df['controle'][df[coluna] < 50.4] = "Pontos Fracos"
    df[coluna] = df['controle']
    
    display(df[coluna].value_counts().to_frame().sort_index())

               1. As pessoas se apoiam umas às outras nesta unidade
Intermediário                                                283
Pontos Fortes                                                 62

               2. Temos pessoas suficientes para lidar com o volume de trabalho
Intermediário                                                 73
Pontos Fracos                                                272

               3. Quando há muito trabalho a ser feito e rapidamente, trabalhamos juntos em equipe para realizar a tarefa
Intermediário                                                 53
Pontos Fortes                                                292

               4. Nesta unidade, as pessoas se tratam com respeito
Intermediário                                                 23
Pontos Fortes                                                322

               5. Os funcionários desta unidade trabalham mais horas do que o recomendado no atendimento a pacientes
Intermediário                                                239
Pontos Fortes                                                  1
Pontos Fracos                                                105

               6. Estamos ativamente buscando melhorias para a segurança do paciente
Intermediário                                                  1
Pontos Fortes                                                344

               7. Utilizamos mais funcionários temporários do que o recomendado no atendimento a paciente
Intermediário                                                325
Pontos Fortes                                                 18
Pontos Fracos                                                  2

               8. Os funcionários sentem que seus erros são usados contra eles
Intermediário                                                219
Pontos Fortes                                                  1
Pontos Fracos                                                125

               9. Erros que ocorreram levaram a mudanças positivas nesta unidade
Intermediário                                                167
Pontos Fortes                                                177
Pontos Fracos                                                  1

               10. É apenas por acaso que erros mais sérios não acontecem por aqui
Intermediário                                                331
Pontos Fortes                                                  1
Pontos Fracos                                                 13

               11. Quando uma área nesta unidade fica muito movimentada, as demais ajudam
Intermediário                                                238
Pontos Fortes                                                  2
Pontos Fracos                                                105

               12. Quando um evento é notificado, sentimos que o foco se concentra no indivíduo, e não no problema
Intermediário                                                177
Pontos Fracos                                                168

               13. Quando fazemos mudanças para melhorar a segurança do paciente, nós avaliamos sua efetividade
Intermediário                                                107
Pontos Fortes                                                238

               14. Trabalhamos “em modo de crise”, tentando fazer coisas demais, rápido demais
Intermediário                                                118
Pontos Fracos                                                227

               15. A segurança do paciente nunca é sacrificada em prol de se trabalhar mais
Intermediário                                                213
Pontos Fracos                                                132

               16. Os funcionários se preocupam que seus erros sejam registrados em seu arquivo funcional
Pontos Fracos                                                345

               17. Temos problemas com a segurança do paciente nesta unidade
Intermediário                                                257
Pontos Fortes                                                 79
Pontos Fracos                                                  9

               18. Nossos procedimentos e sistemas são bons para impedir que os erros aconteçam
Intermediário                                                219
Pontos Fortes                                                118
Pontos Fracos                                                  8

               19. Meu supervisor/gerente elogia quando vê um trabalho feito de acordo com os procedimentos estabelecidos para a segurança do paciente.
Intermediário                                                210
Pontos Fortes                                                135

               20. Meu supervisor/gerente considera seriamente as sugestões dos funcionários para melhorar a segurança do paciente
Intermediário                                                209
Pontos Fortes                                                136

               21. Sempre que a pressão aumenta, meu supervisor/gerente quer que trabalhemos mais rápido, mesmo que isto signifique tomar atalhos
Intermediário                                                315
Pontos Fortes                                                 15
Pontos Fracos                                                 15

               22. Meu supervisor/gerente ignora problemas recorrentes na segurança do paciente
Intermediário                                                  3
Pontos Fortes                                                342

               23. Recebemos feedback das mudanças implementadas com base nos eventos notificados
Intermediário                                                224
Pontos Fracos                                                121

               24. Os funcionários falam voluntariamente se vêem algo que possa afetar negativamente o atendimento aos pacientes
Intermediário                                                307
Pontos Fortes                                                  2
Pontos Fracos                                                 36

               25. Somos informados sobre os erros que acontecem nesta unidade
Intermediário                                                307
Pontos Fracos                                                 38

               26. Os funcionários sentem-se à vontade para questionar decisões ou ações dos que têm mais autoridade
Intermediário                                                  4
Pontos Fracos                                                341

               27. Nesta unidade, discutimos maneiras de impedir que os erros tornem a acontecer
Intermediário                                                246
Pontos Fortes                                                 93
Pontos Fracos                                                  6

               28. Os funcionários têm receio de perguntar quando algo não parece certo
Intermediário                                                163
Pontos Fracos                                                182

               29. Quando acontece um erro, mas ele é identificado e corrigido antes de afetar o paciente, com que frequência é notificado?
Intermediário                                                334
Pontos Fortes                                                  2
Pontos Fracos                                                  9

               30. Quando acontece um erro, mas que não tem potencial de dano ao paciente, com que frequência é notificado?
Intermediário                                                316
Pontos Fracos                                                 29

               31. Quando acontece um erro que poderia prejudicar o paciente, mas isto não ocorreu, com que frequência é notificado?
Intermediário                                                335
Pontos Fortes                                                  6
Pontos Fracos                                                  4

               32. A administração do hospital cria um ambiente de trabalho que promove a segurança do paciente
Intermediário                                                 53
Pontos Fortes                                                291
Pontos Fracos                                                  1

               33. As unidades hospitalares não se coordenam bem entre si.
Intermediário                                                256
Pontos Fortes                                                  2
Pontos Fracos                                                 87

               34. Coisas "escapam por entre os dedos” quando os pacientes são transferidos de uma unidade para outra
Intermediário                                                225
Pontos Fortes                                                  3
Pontos Fracos                                                117

               35. Existe uma boa cooperação entre as unidades hospitalares que precisam trabalhar juntas
Intermediário                                                297
Pontos Fortes                                                 25
Pontos Fracos                                                 23

               36. Importantes informações sobre a assistência se perdem durante as mudanças de turno
Intermediário                                                192
Pontos Fracos                                                153

               37. Muitas vezes é desagradável trabalhar unidades com funcionários de outras unidades do hospital
Intermediário                                                287
Pontos Fortes                                                  3
Pontos Fracos                                                 55

               38. Os problemas com frequência ocorrem na troca de informações entre as unidades do hospital
Intermediário                                                128
Pontos Fracos                                                217

               39. As ações da administração do hospital mostram que a segurança do paciente é uma prioridade máxima
Intermediário                                                 54
Pontos Fortes                                                291

               40. A administração do hospital parece se interessar pela segurança do paciente apenas quando acontece um evento adverso
Intermediário                                                280
Pontos Fortes                                                 53
Pontos Fracos                                                 12

               41. As unidades do hospital trabalham bem juntas para prestar o melhor atendimento aos pacientes
Intermediário                                                164
Pontos Fortes                                                178
Pontos Fracos                                                  3

               42. As mudanças de turno são problemáticas para os pacientes deste Hospital
Intermediário                                                274
Pontos Fortes                                                 42
Pontos Fracos                                                 29

               Abertura de comunicação
Intermediário                       93
Pontos Fracos                      252

               Feedback e comunicação sobre erros
Intermediário                                 313
Pontos Fortes                                   3
Pontos Fracos                                  29

               Frequência de eventos relatados
Intermediário                              333
Pontos Fortes                                1
Pontos Fracos                               11

               Apoio de gestão hospitalar para segurança do paciente
Intermediário                                                126
Pontos Fortes                                                217
Pontos Fracos                                                  2

               Trabalho em equipe entre as unidades hospitalares
Intermediário                                                309
Pontos Fortes                                                 16
Pontos Fracos                                                 20

               Trabalho em equipe no âmbito das unidades
Intermediário                                        249
Pontos Fortes                                         96

               Transferências internas e passagens de plantão
Intermediário                                             221
Pontos Fracos                                             124

               Aprendizado organizacional - melhoria contínua
Intermediário                                              45
Pontos Fortes                                             300

               Expectativas de promoção da segurança dos supervisores e gerentes
Intermediário                                                201
Pontos Fortes                                                144

               Percepção gerais sobre segurança
Intermediário                               327
Pontos Fortes                                 8
Pontos Fracos                                10

               Respostas não punitivas aos erros
Intermediário                                 14
Pontos Fracos                                331

               Staffing
Intermediário       198
Pontos Fracos       147

,Unidade,acreditacao,Acreditação,Acreditação2,Ano,Regional,Estado,quant,1. As pessoas se apoiam umas às outras nesta unidade,2. Temos pessoas suficientes para lidar com o volume de trabalho,...,Trabalho em equipe no âmbito das unidades,Transferências internas e passagens de plantão,Aprendizado organizacional - melhoria contínua,Expectativas de promoção da segurança dos supervisores e gerentes,Percepção gerais sobre segurança,Respostas não punitivas aos erros,Staffing,passou_a_ser_acreditado,status_eterno,controle
0,5 de outubro,1,ONA,ONA 2,2022,N,PA,311,Pontos Fortes,Pontos Fracos,...,Pontos Fortes,Intermediário,Pontos Fortes,Pontos Fortes,Intermediário,Pontos Fracos,Intermediário,0,1.0,Intermediário
1,Aeroporto,0,0,0,2022,NE,BA,525,Intermediário,Pontos Fracos,...,Intermediário,Intermediário,Pontos Fortes,Intermediário,Intermediário,Pontos Fracos,Pontos Fracos,0,0.0,Pontos Fracos
2,Aliança,1,Qmentum,Qmentum,2021,NE,BA,1082,Pontos Fortes,Intermediário,...,Pontos Fortes,Intermediário,Pontos Fortes,Pontos Fortes,Intermediário,Intermediário,Intermediário,0,1.0,Intermediário
3,Aliança,1,Qmentum,Qmentum,2022,NE,BA,1029,Pontos Fortes,Pontos Fracos,...,Pontos Fortes,Intermediário,Pontos Fortes,Pontos Fortes,Intermediário,Intermediário,Intermediário,0,1.0,Intermediário
4,Alpha Med,0,0,0,2017,SE,SP,244,Intermediário,Intermediário,...,Pontos Fortes,Pontos Fracos,Pontos Fortes,Pontos Fortes,Intermediário,Pontos Fracos,Intermediário,0,0.0,Intermediário
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,Vivalle,1,JCI,JCI,2022,SE,SP,918,Intermediário,Pontos Fracos,...,Intermediário,Intermediário,Pontos Fortes,Intermediário,Intermediário,Pontos Fracos,Pontos Fracos,0,1.0,Pontos Fracos
341,Yutaka,1,ONA,ONA 3,2022,N,PA,296,Intermediário,Pontos Fracos,...,Pontos Fortes,Intermediário,Pontos Fortes,Pontos Fortes,Intermediário,Pontos Fracos,Intermediário,0,1.0,Intermediário
342,viValle,1,Qmentum,Qmentum,2015,SE,SP,382,Intermediário,Pontos Fracos,...,Intermediário,Pontos Fracos,Pontos Fortes,Intermediário,Intermediário,Pontos Fracos,Pontos Fracos,0,1.0,Pontos Fracos
343,viValle,1,Qmentum,Qmentum,2016,SE,SP,420,Intermediário,Pontos Fracos,...,Intermediário,Intermediário,Pontos Fortes,Intermediário,Intermediário,Pontos Fracos,Pontos Fracos,0,1.0,Pontos Fracos
344,viValle,1,Qmentum,Qmentum,2017,SE,SP,593,Intermediário,Pontos Fracos,...,Intermediário,Pontos Fracos,Pontos Fortes,Intermediário,Intermediário,Pontos Fracos,Pontos Fracos,0,1.0,Pontos Fracos

In [17]:
for coluna in lista_scores:
    # Criar a tabela de cruzamento
    cross_table = pd.crosstab(df[coluna], df["acreditacao"])
    chi2, p, dof, expected = chi2_contingency(cross_table)
    print(p)
    display(tabela_cont(coluna, "acreditacao"))
    
    print('='*100)

1.0

acreditacao                                          0    1
1. As pessoas se apoiam umas às outras nesta un...
Intermediário                                       54  229
Pontos Fortes                                       12   50

====================================================================================================
0.12857996863188872

acreditacao                                          0    1
2. Temos pessoas suficientes para lidar com o v...
Intermediário                                       19   54
Pontos Fracos                                       47  225

====================================================================================================
0.16715269916844466

acreditacao                                          0    1
3. Quando há muito trabalho a ser feito e rapid...
Intermediário                                        6   47
Pontos Fortes                                       60  232

====================================================================================================
1.0

acreditacao                                          0    1
4. Nesta unidade, as pessoas se tratam com resp...
Intermediário                                        4   19
Pontos Fortes                                       62  260

====================================================================================================
0.2748517832760788

acreditacao                                          0    1
5. Os funcionários desta unidade trabalham mais...
Intermediário                                       51  188
Pontos Fortes                                        0    1
Pontos Fracos                                       15   90

====================================================================================================
1.0

acreditacao                                          0    1
6. Estamos ativamente buscando melhorias para a...
Intermediário                                        0    1
Pontos Fortes                                       66  278

====================================================================================================
0.0037951622234719943

acreditacao                                          0    1
7. Utilizamos mais funcionários temporários do ...
Intermediário                                       58  267
Pontos Fortes                                        6   12
Pontos Fracos                                        2    0

====================================================================================================
0.6188440476320718

acreditacao                                          0    1
8. Os funcionários sentem que seus erros são us...
Intermediário                                       45  174
Pontos Fortes                                        0    1
Pontos Fracos                                       21  104

====================================================================================================
0.1436675403155109

acreditacao                                          0    1
9. Erros que ocorreram levaram a mudanças posit...
Intermediário                                       39  128
Pontos Fortes                                       27  150
Pontos Fracos                                        0    1

====================================================================================================
0.004681179363782683

acreditacao                                          0    1
10. É apenas por acaso que erros mais sérios nã...
Intermediário                                       59  272
Pontos Fortes                                        0    1
Pontos Fracos                                        7    6

====================================================================================================
0.0035564700767449454

acreditacao                                          0    1
11. Quando uma área nesta unidade fica muito mo...
Intermediário                                       50  188
Pontos Fortes                                        2    0
Pontos Fracos                                       14   91

====================================================================================================
0.004549288637379278

acreditacao                                          0    1
12. Quando um evento é notificado, sentimos que...
Intermediário                                       23  154
Pontos Fracos                                       43  125

====================================================================================================
0.5479424924973986

acreditacao                                          0    1
13. Quando fazemos mudanças para melhorar a seg...
Intermediário                                       23   84
Pontos Fortes                                       43  195

====================================================================================================
0.1552134359508621

acreditacao                                          0    1
14. Trabalhamos “em modo de crise”, tentando fa...
Intermediário                                       28   90
Pontos Fracos                                       38  189

====================================================================================================
0.43828484980183147

acreditacao                                          0    1
15. A segurança do paciente nunca é sacrificada...
Intermediário                                       44  169
Pontos Fracos                                       22  110

====================================================================================================
1.0

acreditacao                                          0    1
16. Os funcionários se preocupam que seus erros...
Pontos Fracos                                       66  279

====================================================================================================
0.10340159067347822

acreditacao                                          0    1
17. Temos problemas com a segurança do paciente...
Intermediário                                       50  207
Pontos Fortes                                       12   67
Pontos Fracos                                        4    5

====================================================================================================
0.01204042319469551

acreditacao                                          0    1
18. Nossos procedimentos e sistemas são bons pa...
Intermediário                                       47  172
Pontos Fortes                                       15  103
Pontos Fracos                                        4    4

====================================================================================================
0.0027565774505459964

acreditacao                                          0    1
19. Meu supervisor/gerente elogia quando vê um ...
Intermediário                                       29  181
Pontos Fortes                                       37   98

====================================================================================================
0.06940505346045446

acreditacao                                          0    1
20. Meu supervisor/gerente considera seriamente...
Intermediário                                       33  176
Pontos Fortes                                       33  103

====================================================================================================
0.056087418097698606

acreditacao                                          0    1
21. Sempre que a pressão aumenta, meu superviso...
Intermediário                                       59  256
Pontos Fortes                                        6    9
Pontos Fracos                                        1   14

====================================================================================================
0.9132272747750849

acreditacao                                          0    1
22. Meu supervisor/gerente ignora problemas rec...
Intermediário                                        0    3
Pontos Fortes                                       66  276

====================================================================================================
0.4998697432745086

acreditacao                                          0    1
23. Recebemos feedback das mudanças implementad...
Intermediário                                       40  184
Pontos Fracos                                       26   95

====================================================================================================
0.005217895372793021

acreditacao                                          0    1
24. Os funcionários falam voluntariamente se vê...
Intermediário                                       52  255
Pontos Fortes                                        0    2
Pontos Fracos                                       14   22

====================================================================================================
0.0015709691089486203

acreditacao                                          0    1
25. Somos informados sobre os erros que acontec...
Intermediário                                       51  256
Pontos Fracos                                       15   23

====================================================================================================
0.7345216949717639

acreditacao                                          0    1
26. Os funcionários sentem-se à vontade para qu...
Intermediário                                        0    4
Pontos Fracos                                       66  275

====================================================================================================
0.8414044391129449

acreditacao                                          0    1
27. Nesta unidade, discutimos maneiras de imped...
Intermediário                                       49  197
Pontos Fortes                                       16   77
Pontos Fracos                                        1    5

====================================================================================================
0.23652661315216117

acreditacao                                          0    1
28. Os funcionários têm receio de perguntar qua...
Intermediário                                       36  127
Pontos Fracos                                       30  152

====================================================================================================
0.2901130199370642

acreditacao                                          0    1
29. Quando acontece um erro, mas ele é identifi...
Intermediário                                       62  272
Pontos Fortes                                        1    1
Pontos Fracos                                        3    6

====================================================================================================
0.14530681308584045

acreditacao                                          0    1
30. Quando acontece um erro, mas que não tem po...
Intermediário                                       57  259
Pontos Fracos                                        9   20

====================================================================================================
0.00859712514420274

acreditacao                                          0    1
31. Quando acontece um erro que poderia prejudi...
Intermediário                                       63  272
Pontos Fortes                                        0    6
Pontos Fracos                                        3    1

====================================================================================================
0.030723723560092425

acreditacao                                          0    1
32. A administração do hospital cria um ambient...
Intermediário                                       17   36
Pontos Fortes                                       49  242
Pontos Fracos                                        0    1

====================================================================================================
0.6113768790822358

acreditacao                                          0    1
33. As unidades hospitalares não se coordenam b...
Intermediário                                       47  209
Pontos Fortes                                        0    2
Pontos Fracos                                       19   68

====================================================================================================
0.0016533787249617719

acreditacao                                          0    1
34. Coisas "escapam por entre os dedos” quando ...
Intermediário                                       41  184
Pontos Fortes                                        3    0
Pontos Fracos                                       22   95

====================================================================================================
0.0045708345291277114

acreditacao                                          0    1
35. Existe uma boa cooperação entre as unidades...
Intermediário                                       51  246
Pontos Fortes                                       11   14
Pontos Fracos                                        4   19

====================================================================================================
1.0

acreditacao                                          0    1
36. Importantes informações sobre a assistência...
Intermediário                                       37  155
Pontos Fracos                                       29  124

====================================================================================================
0.356184759046326

acreditacao                                          0    1
37. Muitas vezes é desagradável trabalhar unida...
Intermediário                                       58  229
Pontos Fortes                                        1    2
Pontos Fracos                                        7   48

====================================================================================================
0.9970511531829893

acreditacao                                          0    1
38. Os problemas com frequência ocorrem na troc...
Intermediário                                       25  103
Pontos Fracos                                       41  176

====================================================================================================
1.0

acreditacao                                          0    1
39. As ações da administração do hospital mostr...
Intermediário                                       10   44
Pontos Fortes                                       56  235

====================================================================================================
0.7687555945002563

acreditacao                                          0    1
40. A administração do hospital parece se inter...
Intermediário                                       52  228
Pontos Fortes                                       12   41
Pontos Fracos                                        2   10

====================================================================================================
0.6880418824368718

acreditacao                                          0    1
41. As unidades do hospital trabalham bem junta...
Intermediário                                       31  133
Pontos Fortes                                       35  143
Pontos Fracos                                        0    3

====================================================================================================
0.000863886096698278

acreditacao                                          0    1
42. As mudanças de turno são problemáticas para...
Intermediário                                       44  230
Pontos Fortes                                       17   25
Pontos Fracos                                        5   24

====================================================================================================
0.5981371872922798

acreditacao               0    1
Abertura de comunicação
Intermediário            20   73
Pontos Fracos            46  206

====================================================================================================
0.06592753568686309

acreditacao                          0    1
Feedback e comunicação sobre erros
Intermediário                       56  257
Pontos Fortes                        0    3
Pontos Fracos                       10   19

====================================================================================================
0.07045342470761082

acreditacao                       0    1
Frequência de eventos relatados
Intermediário                    61  272
Pontos Fortes                     0    1
Pontos Fracos                     5    6

====================================================================================================
0.695705546639159

acreditacao                                          0    1
Apoio de gestão hospitalar para segurança do pa...
Intermediário                                       26  100
Pontos Fortes                                       40  177
Pontos Fracos                                        0    2

====================================================================================================
0.7493401209087083

acreditacao                                         0    1
Trabalho em equipe entre as unidades hospitalares
Intermediário                                      59  250
Pontos Fortes                                       4   12
Pontos Fracos                                       3   17

====================================================================================================
0.20662198356450379

acreditacao                                 0    1
Trabalho em equipe no âmbito das unidades
Intermediário                              43  206
Pontos Fortes                              23   73

====================================================================================================
0.4280464891958432

acreditacao                                      0    1
Transferências internas e passagens de plantão
Intermediário                                   39  182
Pontos Fracos                                   27   97

====================================================================================================
0.44207959235251926

acreditacao                                      0    1
Aprendizado organizacional - melhoria contínua
Intermediário                                   11   34
Pontos Fortes                                   55  245

====================================================================================================
0.09850286305880472

acreditacao                                          0    1
Expectativas de promoção da segurança dos super...
Intermediário                                       32  169
Pontos Fortes                                       34  110

====================================================================================================
5.002432195987766e-05

acreditacao                        0    1
Percepção gerais sobre segurança
Intermediário                     56  271
Pontos Fortes                      6    2
Pontos Fracos                      4    6

====================================================================================================
1.0

acreditacao                         0    1
Respostas não punitivas aos erros
Intermediário                       3   11
Pontos Fracos                      63  268

====================================================================================================
0.31610651816331886

acreditacao     0    1
Staffing
Intermediário  42  156
Pontos Fracos  24  123

====================================================================================================

In [32]:
df.groupby(["Staffing", "acreditacao", "Ano"]).size().unstack()

Ano                        2014  2015  2016  2017  2018  2019  2020  2021  \
Staffing      acreditacao
Intermediário 0             NaN   3.0   2.0   5.0   5.0   6.0   9.0   5.0
              1             1.0   8.0  16.0  19.0  16.0  17.0  24.0  25.0
Pontos Fracos 0             2.0   NaN   1.0   1.0   3.0   3.0   1.0   7.0
              1             9.0  13.0  10.0   9.0  11.0  14.0  13.0  19.0

Ano                        2022
Staffing      acreditacao
Intermediário 0             7.0
              1            30.0
Pontos Fracos 0             6.0
              1            25.0

In [36]:
df.groupby(["acreditacao", "Ano"])["Staffing"].count().unstack()

Ano          2014  2015  2016  2017  2018  2019  2020  2021  2022
acreditacao
0               2     3     3     6     8     9    10    12    13
1              10    21    26    28    27    31    37    44    55

In [38]:
df["Staffing"]

0      Intermediário
1      Pontos Fracos
2      Intermediário
3      Intermediário
4      Intermediário
           ...
340    Pontos Fracos
341    Intermediário
342    Pontos Fracos
343    Pontos Fracos
344    Pontos Fracos
Name: Staffing, Length: 345, dtype: object

NameError: name 'df' is not defined